[mysqld]
datadir=/data/mysql
basedir=/usr/local/mysql
socket=/tmp/mysql.sock

user=mysql
port=3306

character-set-server=utf8
#取消密码验证
#skip-grant-tables
symbolic-links=0

[mysqld_safe]
log_error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid